<p id="notice"><%= notice %></p>

<p>
  <strong>Flight no:</strong>
  <%= @flights.flight_no %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @flights.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flights.destination %>
</p>

<p>
  <strong>Date:</strong>
  <%= @flights.date %>
</p>

<p>
  <strong>Airplane ID:</strong>
  <%= @flights.airplane_id %>
</p>

<%= link_to 'Edit', edit_flight_path(@flights) %> |
<%= link_to 'Back', flights_path %>
