<%= form_for(@airplane) do |f| %>
  <% if @airplane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@airplane.errors.count, "error") %> prohibited this airplane from being saved:</h2>

      <ul>
      <% @airplane.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :row %><br>
    <%= f.text_field :row, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :column %><br>
    <%= f.text_field :column, :class => 'form-control' %>
  </div>
  <div class="actions">
    <br><%= f.submit "Create Airplane", :class => 'btn btn-success' %>
  </div>
<% end %>
