<!DOCTYPE html>
<!--
    (  )   (   )  )
      ) (   )  (  (
      ( )  (    ) )
      _____________
     <_____________> ___
     |             |/ _ \
     |               | | |
     |               |_| |
  ___|             |\___/ 
 /    \___________/    \
 \_____________________/    Burning Airline!
-->

<html>
<head>
  <title>Burning Airline WDI4</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1 class="title">
    <a href="/">
      <span class="grow fire">B</span>
      <span class="grow burn">u</span>
      <span class="grow burn">r</span>
      <span class="grow burn">n</span>
      <span class="grow burn">i</span>
      <span class="grow burn">n</span>
      <span class="grow fire">g</span>
      <span class="grow burn"></span>
      <span class="grow fire">A</span>
      <span class="grow burn">i</span>
      <span class="grow burn">r</span>
      <span class="grow burn">l</span>
      <span class="grow burn">i</span>
      <span class="grow burn">n</span>
      <span class="grow fire">e</span>
    </a>
  </h1>

  <div id="user">
    <% if user_signed_in? %>
      <div class="user_view">
        <kbd><%= current_user.username %></kbd><br>
        <%= button_to 'Sign Out', destroy_user_session_path, :method => 'delete', :class => 'btn btn-primary' %><br>

        <% if current_user.admin? %>
          <br><%= button_to "Create Airplane", new_airplane_path, :method => 'get', :class => 'btn btn-info' %>
          <%= button_to "Create Flight", new_flight_path, :method => 'get', :class => 'btn btn-info' %>
        <% end %>

      </div>
    <% else %>
      <div class="guest_view">
        <%= button_to "Sign up", new_user_registration_path, :method => 'get', :class => 'btn btn-primary' %>
        <%= button_to "Sign in", new_user_session_path, :method => 'get', :class => 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
  
  <p class="notice text-success"><%= notice %></p>
  <p class="alert text-danger"><%= alert %></p>
  
  <div class="yield_container">
    <%= yield %>
  </div>


</body>
</html>
