<!DOCTYPE html>
<!--
    (  )   (   )  )
      ) (   )  (  (
      ( )  (    ) )
      _____________
     <_____________> ___
     |             |/ _ \
     |               | | |
     |               |_| |
  ___|             |\___/ 
 /    \___________/    \
 \_____________________/    YEAH!
-->

<html>
<head>
  <title>Burning Airline WDI4</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
<%= yield %>

<%= button_to 'Sign Out', destroy_user_session_path, :method => 'delete', :class => 'btn btn-primary signout_btn grow' %>

</body>
</html>
